<div class="login-container">
    <div class="login-left">
        <div class="login-left-content">
            <a routerLink="">
                <img src="assets/logo.png" alt="Logo Smartdesk" class="login-image">
            </a>
            <p class="system-subtitle">Gerencie chamados com eficiência e agilidade</p>
        </div>
    </div>

    <div class="login-right">
        <div class="login-card">
            <h2>Login</h2>

            <div *ngIf="errorMessages.length > 0" class="error-message-box">
                <div *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</div>
            </div>

            <div *ngIf="successfullyRegisteredUser" class="success-message-box">
                {{ successfullyRegisteredUser }}
            </div>

            <form [formGroup]="formLogin" (ngSubmit)="submitForm()" class="form-content">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Ex: usuario@email.com"
                        autocomplete="username">

                    <mat-error *ngIf="formLogin.get('email')?.hasError('required')">
                        O e-mail é obrigatório
                    </mat-error>
                    <mat-error *ngIf="formLogin.get('email')?.hasError('pattern')">
                        E-mail inválido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        autocomplete="current-password">

                    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()"
                        [attr.aria-label]="'Ocultar senha'">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    <mat-error *ngIf="formLogin.get('password')?.hasError('required')">
                        A senha é obrigatória
                    </mat-error>
                    <mat-error *ngIf="formLogin.get('password')?.hasError('minlength')">
                        A senha deve ter no mínimo de 8 caracteres
                    </mat-error>
                    <mat-error *ngIf="formLogin.get('password')?.hasError('maxlength')">
                        A senha deve ter no máximo 255 caracteres.
                    </mat-error>
                </mat-form-field>

                <button type="submit" class="btn btn-primary btn-submit" [disabled]="formLogin.invalid">
                    Entrar
                </button>
            </form>

            <a class="forgot-link" routerLink="/recuperar-senha">Esqueceu sua senha?</a>
        </div>
    </div>
</div>